<div class="container-fluid">
    <div class="row" id="mainmenu">
        <div class="col-sm-2 menublock">
            <div class="col-sm-12 " id="logo_box">
                <img src="http://inmatrix.ru.com/images/logo.png" height="50px">
            </div>

        </div>
        <div class="col-sm-6 menublock">
            <div class="col-sm-2 menuitem">
                <a href="/">
                    <div class="col-sm-12 menutext">
                        Главная
                    </div>
                </a>
            </div>
            <div class="col-sm-2 menuitem">
                <a href="/">
                    <div class="col-sm-12 menutext">
                        О Проекте
                    </div>
                </a>
            </div>
            <div class="col-sm-2 menuitem">
                <a href="/">
                    <div class="col-sm-12 menutext">
                        FAQ
                    </div>
                </a>
            </div>
        </div>
        {{#unless ss.session.user}}
        <div class="col-sm-3 float-right" id="menubuttons">
            <div class="col-sm-4 menuitem menu_account">
                <a href="/login">
                    <div class="col-sm-12 menutext">
                        Войти
                    </div>
                </a>
            </div>
            <div class="col-sm-7 menuitem menu_account">
                <a href="/signup">
                    <div class="col-sm-12 menutext ">
                        Зарегестрироваться
                    </div>
                </a>
            </div>
        </div>
        {{/unless}} {{#if ss.session.user}}
        <div class="col-sm-3 float-right" id="menubuttons">
            <div class="col-sm-4 menuitem menu_account">
                <a href="/account">
                    <div class="col-sm-12 menutext">
                        В Кабинет
                    </div>
                </a>
            </div>
            <div class="col-sm-4 menuitem menu_account">
                <a href="/logout">
                    <div class="col-sm-12 menutext">
                        Выйти
                    </div>
                </a>
            </div>
        </div>

        {{/if}}

    </div>
</div>