{{> header }} {{> head}}
<div class="container-fluid">

    <div class="main_section_1">
        <div class="row">
            <div class="col-sm-4 moneysection">

                Кнопка бабло
            </div>
            <div class="col-sm-4 no-right-padding">
                <div class="row">
                    <div class="col-sm-12 accbox">
                        <div class="row">
                            <div id='balance-block' class=" col-md-12">
                                <h3>Баланс</h3>
                                <h4>{{account_data.balance}} руб.</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="padding-wrap col-md-6">
                                <div class="balance-btn">Пополнить</div>
                            </div>
                            <div class="padding-wrap col-md-6">
                                <div class="balance-btn">Вывести</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 accbox" id="emailbox">

                        <div>
                            <h3>Email</h3> {{account_data.email}}
                        </div>
                        <div>
                            <h3>Имя</h3> {{account_data.username}}
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-4 no-right-padding">
                <div class="row">

                    <div class="col-sm-12 accbox" id="transactions-box">
                        история операций
                    </div>


                </div>




            </div>

        </div>
    </div>
    {{> footer}}