{{> header }} {{> head}}


<script src="/js/particles.min.js"></script>

<script>
	particlesJS.load('particles-js', 'js/particles.json', function () {
		console.log('callback - particles.js config loaded');
	});
</script>


<div class="container">
	<div class="row">
		<div class="col-sm-4  mx-auto login-form">
			<div class="form-logo col-sm-5  mx-auto">
				<img src="http://inmatrix.ru.com/images/logo.png" width="100%">

			</div>
			<form role="form" action="/login" method="post" id="login-form" autocomplete="off">

				<div class="group">
					<input type="text" name="email" id="email" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Email</label>
					
				</div>

				<div class="group">
					<input type="password" name="password" id="password" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Пароль</label>
				</div>

				<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Войти">
			</form>
		</div>
	</div>

</div>

<!--
<div class="container">
	<div class="row">	
		<div class="col-sm-4  mx-auto login-form">
			<div class="form-logo col-sm-5  mx-auto">
					<img src="http://inmatrix.ru.com/images/logo.png" width="100%">
				
			</div>
			<form role="form" action="/login" method="post" id="login-form" autocomplete="off">
				<div class="form-group">
					<input type="email" name="email" id="email" class="form-control" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" class="form-control" placeholder="Пароль">
				</div>
				<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Войти">
			</form>
		</div>
	</div>

</div>
-->

<div id="particles-js"></div>
<div class="stars"></div>
<div class="twinkling"></div>

{{> footer }}