{{> header }}
<div class="container-fluid">
    {{> head}}


    <div class="row main_section">
        <div class="col-sm-12">
            <div class="col-sm-4" id="main_target_box">
                Регистрация и еще какая нибудь чепуха
            </div>
        </div>

    </div>

    <div class="container-fluid  main_section_1">

        <div class="col-sm-12" id="stats">

            <div class="row">
                <div class="col-sm-3 statbox mx-auto">
                    Пользователей: 1488
                </div>
                <div class="col-sm-3 statbox mx-auto">
                    Выплачено: 228 000 руб.
                </div>
                <div class="col-sm-3 statbox mx-auto">
                    Выплачено: 228 000 руб.
                </div>
            </div>



        </div>
    </div>

    <div class="container-fluid  main_section_2">

        <div class="col-sm-12" id="stats">

            <div class="row">
                инфа
            </div>

        </div>
    </div>

    <div class="container-fluid  main_section_3">

        <div class="col-sm-12" id="stats">

            <div class="row">
                инфа 2
            </div>

        </div>
    </div>

    <div class="container-fluid bottom_section">
        <div class="col-sm-12" id="bottom_info">
            <div class="row">
                <div class="col-sm-9 bottombox">
                    О Проекте
                </div>
                <div class="col-sm-3 bottombox">
                    logo
                </div>
            </div>
        </div>
    </div>

</div>


{{> footer }}