{{> header }} {{> head}}
<html lang="en">

<script src="/js/particles.min.js"></script>
<script src="/js/signup.js"></script>

<script>
	particlesJS.load('particles-js', 'js/particles.json', function () {
		console.log('callback - particles.js config loaded');
	});

</script>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4  mx-auto signup-form">
				<div class="form-title col-sm-7  mx-auto">
					<h3>Регистрация</h3>
				</div>
				<form role="form" action="/signup" method="post" id="login-form" autocomplete="off">
					<div class="group">
						<input type="text" name="email" id="email" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Email</label>
						<div class="error_box">		
							<div class="error_box_text">
								
							</div>	
						</div>
					</div>

					<div class="group">
						<input type="text" name="username" id="username" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Придумайте логин</label>
						<div class="error_box">		
							<div class="error_box_text">
								
							</div>	
						</div>
					</div>

					<div class="group">
						<input type="password" name="password" id="password" required>
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Придумайте пароль</label>
						<div class="error_box">		
							<div class="error_box_text">
								
							</div>	
						</div>
					</div>
					<div class="group">
						<input type="password" required id="password_con">
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Повторите пароль</label>
						<div class="error_box">		
							<div class="error_box_text">
								
							</div>	
						</div>
					</div>
					<!--
					<div class="group">
						<input type="text" required name="phone" id="phone">
						<span class="highlight"></span>
						<span class="bar"></span>
						<label>Номер мобильного телефона</label>
						<div class="error_box">		
							<div class="error_box_text">
								
							</div>	
						</div>
					</div>
-->
					<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Зарегистрироваться">
				
				</form>
			</div>
		</div>
	</div>


	<div id="particles-js"></div>
	<div class="stars"></div>
	<div class="twinkling"></div>
	{{> footer }}