/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;

}
.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }
 .row {
     margin: 0;
 }

#mainmenu {
    display: block;
    height: 50px;
    background-color: #18191c;
    margin: 0;
}

#mainmenu a:link, a:visited {
    text-decoration: none;
    color: white;
    text-align: center;
}

.menuitem {
    display: inline-block;
    height: 50px;
    background-color: #111214;
    padding: 0;
}

.menublock {
    float: left;

    height: 50px;
}

.menutext {
    margin-top: 11px;
    display:inline-block;
    width:100%;
    height:100%;
}

#logo_box {
    display: inline-block;
    height: 50px;
}
#menubuttons {

    display: inline-block;
}

.menu_account {
    background-color: green;
}
.menu_account a {
    display:inline-block;
    width:100%;
    height:100%;

}

.main_section {
    padding: 5px;
    height: 35%;
    display: block;
    overflow: hidden;
    margin: 0;
    background-image: url('/images/dollar.jpg');
    background-size: cover;
}



.main_section_1 {
    display: block;
}

.main_section_2 {

    height: 50%;
    display: block;
    background-color: #212121


}

.main_section_3 {

    height: 50%;
    display: block;
    background-color: #161616


}


#section_img {
    padding: 0;

}
#section_img img {
    width:  100%;

    -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
    filter: blur(10px);
}
.statbox {
display: inline-block;
height: 120px;
background-color: #111214;

}
.accbox {
display: inline-block;
background-color: #111214;
margin-top: 10px;
height: 150px;
}
.moneysection {
height: 400px;
background-color: #111214;
margin-top: 10px;
}

#main_target_box {
    float: right;
    height: 100%;
    margin-right: 30px;
    background-color:rgba(0, 0, 0, 0.9);
}

.bottombox {
    height: 80px;
    display: inline-block;
background-color: #111214;
}

.login-form {
    margin-top: 20%;
}

#particles-js {
    z-index: -100;
    position: absolute;
    top: 0;
    width: 100%;
}

.stars, .twinkling, .clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -200;
  }
  
  .stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:-200;
  }
  
  .twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:-200;
  
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }

  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


#login-form {
    padding: 30px;
    background-color: rgba(0, 0, 0);
    
}

#login-form input{
    background-color: rgb(12, 12, 12);
    border: 1px solid rgb(8, 8, 8);
    border-radius: 0px
}

.form-title {
height: 80px;
margin-top: 20px;
font-weight: 300;
}

.login-form {
    background-color: rgba(0, 0, 0);
    
}
.signup-form {
    background-color: rgba(0, 0, 0);
    margin-top: 130px;
}

#btn-login {
    background-color: green!important;
    color: white;
    margin-top: 50px;
}
.login-icon {
    display: flex;
    width: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
}

.login-icon i {
    font-size: 35px;
    vertical-align:middle;
    text-align: center;
}



/* form starting stylings ------------------------------- */
.group 			  { 
    position:relative; 
    margin-bottom:35px; 
  }
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    color: white;
  }
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    top:-25px;
    font-size:14px;
    color:lightgrey;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:green; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:lightgrey; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:lightgrey; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:lightgrey; }
    to 	{ width:0; background:transparent; }
  }


.error_box {
    display: none;
    width: 250px;
    height: 80px;
    background-color: #18191c;
    position: absolute;
    right: -270px;
    top: -30%;
    z-index: 200;
  }

.error_box::before {
 
    position: absolute;
    left: -5px;
    background-color: #18191c;
    top: 30px;
    content: '';
    width: 20px;
    height: 20px;
    z-index: -1000;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

  .error_box_text {
      text-align: center;
      vertical-align: middle;
  }

  h3 {
      font-weight: 200
  }
  #balance-block {
     
        height: 100px;
        text-align: center
  }
.balance-btn {
    background-color: green;
    margin-right: 3px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}
.padding-wrap{
    padding: 3px;
}
#emailbox {
    height: 240px;
}
.no-right-padding {
    padding-right: 0;
}
#transactions-box {
    height: 400px;
}